
<body>
<div class="p-3">
  <h2 class="text-center fw-bold">FACILITY LIST</h2>

  <p class="text-center mt-3"><a href="/"><i class="fa-solid fa-house-chimney h5 mx-1"></i> Back to HOME</a></p>

  <nav class="navbar navbar-expand-lg py-0 my-0">
    <div class="container-fluid">
      <a href="/facility/create">
        <button class="btn btn-success btn-outline-secondary btn-sm">
          <span class="fa-solid fa-house-medical text-light h5 my-auto me-1"></span>
          <span class="text-light"> Add new Facility</span>
        </button>
      </a>

      <form class="d-flex my-2" role="search" action="/facility/list">
        <input class="form-control me-2" type="text" placeholder="Input search name"
               aria-label="Search" name="nameSearch" style="width: 210%">
        <input class="form-control me-2" type="text" placeholder="Input search FacilityType"
               aria-label="Search" name="facilityTypeSearch" style="width: 210%">
        <button class="btn btn-outline-success" type="submit" name="action" value="search">
          <i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>
  </nav>

  <table id="facilityTable" class="table table-light table-striped table-bordered">
    <thead>
    <tr class="table-dark text-light">
      <th>Id</th>
      <th>Name</th>
      <th>Area</th>
      <th>Cost</th>
      <th>Max people</th>
      <th>Standard</th>
      <th>Description</th>
      <th>Pool area</th>
      <th>Number of Floors</th>
      <th>Facility Free</th>
      <th>Rent type</th>
      <th>Facility type</th>
      <th class="text-center">Edit</th>
      <th class="text-center">Delete</th>
    </tr>
    </thead>

    <tbody align="center">
    <tr *ngFor="let item of facilityList; index as i">
      <td>{{item+i }}</td>
      <td>{{item.name}}</td>
      <td>{{item.area}}</td>
      <td>{{item.cost |number}} <sup><i class="fa-solid fa-dong-sign"></i></sup></td>
      <td>{{item.maxPeople}}</td>
      <td>{{item.standardRoom}}</td>
      <td>{{item.description}}</td>
      <td>{{item.poolArea}}</td>
      <td>{{item.numberOfFloors}}</td>
      <td>{{item.facilityFree}}</td>
      <td *ngIf="item.rentType">{{item.rentType?.name}}</td>
      <td *ngIf="item.facilityType">{{item.facilityType?.name}}</td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>


<!--  <div class="modal fade" id="deleteFacility" tabindex="-1" aria-labelledby="exampleModalLabel1"-->
<!--       aria-hidden="true">-->
<!--    <div class="modal-dialog">-->
<!--      <div class="modal-content modalCSS">-->
<!--        <div class="modal-header">-->
<!--          <h4 class="modal-title" id="exampleModalLabel1">Bạn có chắc chắn muốn xóa?</h4>-->
<!--          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--        </div>-->

<!--        <form >-->
<!--          <div class="modal-body">-->
<!--            <span class="h6">Facility: </span><strong id="nameDelete" class="text-danger ps-2"></strong>-->
<!--            <input type="hidden" name="idDelete" id="idDelete" readonly/>-->
<!--          </div>-->

<!--          <div class="modal-footer">-->
<!--            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>-->
<!--            <button type="submit" class="btn btn-danger" value="delete">Xóa</button>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
</body>

